body *{
    margin: 0;
    padding: 0;
    border: 0;

}
body{
    background: #000000;
    font-family: 'Raleway', sans-serif;
}
h1{
    color: #ffffff;
    text-align: center;
    font-size: xx-large;
    font-weight: 300;
    
}
.hero-image{
    width: 100%;
    height: 500px;
}
.p1{
    color: #ffffff;
    display: inline-block;
    margin: 76px 0px 76px 0px;
    text-align: left;
    width: 500px;
    font-weight: lighter;
}
.iguana-1{
    display: inline-block;
    width: 490px;
    height: 250px;
    margin: 75px 0 0 100px;
    
}
.centrado{
    text-align: center;
}
.gris{
    background-color: #1e1a13;
    color: #ffffff;
    text-align: center;
    padding-top: 75px;
}
h2{
    font-weight: 300;
    font-size:xx-large;
    text-align: center;
    }
ul{
    color:#ffffff;
    list-style-type: none;
    
}
.one {
    display: inline-block;
    margin: 0 1.5em;
    padding: 3em;
    font-size:x-large;
    font-weight: lighter;
    text-align: center;
    margin: 0 0 0 20px;
}
.guana-1{

    width: 300px;
    height: 200px;
    padding: 1em;

}
.guana-2{

    width: 300px;
    height: 200px;
    padding: 1em;
}
.guana-3{

    width: 300px;
    height: 200px;
    padding: 1em;
}
.imagenes{
    background-color:rgba(0, 0, 0, 0.96);
    text-align: center;
    padding: 80px 80px 80px 80px;
    
    
    
}
footer{
    background-color: #1e1a13;
    padding: 2.5em;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
}
footer a{
    text-decoration: none;
    font-style: normal;
    color: #ffffff;
}
.gris{
    padding: 100px 100px 100px 100px;
}




